.ListContainer {

}

.ListContainer .ListItem .MuiSvgIcon-root{
  font-size: 2.6rem;
}

.ListContainer .ListItem .TextAreaContainer {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  align-items: center;
  border-bottom: 1px solid #656565;
}

.ListContainer .ListItem .TextAreaContainer textarea {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}
