

.ListItem .TextAreaContainer .ExtraFuncContainer {
  opacity: 0;
}

.ListItem:hover .TextAreaContainer .ExtraFuncContainer {
  opacity: 1;
}

.ListItem:hover .TextAreaContainer .ExtraFuncContainer .IconContainer {
  color: #ff3232;
}
