.ListItem .TextAreaContainer .InputField {

}

.ListItem .TextAreaContainer .ExtraFuncContainer {
  opacity: 0;
}

.ListItem:hover .TextAreaContainer .ExtraFuncContainer,
.ListItem:active .TextAreaContainer .ExtraFuncContainer {
  opacity: 1;
}

.ListItem:hover .TextAreaContainer .ExtraFuncContainer .IconContainer,
.ListItem:active .TextAreaContainer .ExtraFuncContainer .IconContainer {
  color: #ff3232;
}
