.TaskListContainer {
  min-width: 100%;
  height: 100svh;
  box-sizing: border-box;
}

.TaskListContainer .TitleContainer {
  display: flex;
  padding: 1rem 1rem;
  top: 0;
  justify-content: space-between;
  min-height: 12rem;
  background-color: #212121;
}

.TaskListContainer .TitleContainer .Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.TaskListContainer .TitleContainer .Wrapper button {
  transition: ease-in-out;
  transition-duration: .5s;
}

.TaskListContainer .TitleContainer .Wrapper button.Rotated {
  transform: rotate(-180deg);
}

/* AllTab */

.TaskListContainer.AllTab .TitleContainer .Wrapper button {
  color: #676767;
}

/* Completed */

.TaskListContainer.Completed .TitleContainer .Wrapper button {
  color: #74878a;
}

/* TodayTab */

.TaskListContainer.TodayTab .TitleContainer .Wrapper button {
  color: #148dff;
}

/* Uncompleted */

.TaskListContainer.Uncompleted .TitleContainer .Wrapper button {
  color: #ff3232;
}

.TaskListContainer .TitleContainer .Wrapper .Title {
  letter-spacing: -0.1rem;
  font-size: 4rem;
  font-weight: 700;
  align-self: flex-end;
}

.TaskListContainer .TitleContainer .AddTaskButtonContainer {
  align-self: flex-start;
}

.TaskListContainer .TitleContainer .AddTaskButtonContainer .MuiSvgIcon-root {
  font-size: 2.4rem;
  color: #9a9a9a;
}

/* AllTab */

.TaskListContainer.AllTab .TitleContainer .Title {
  color: #676767;
}

/* Completed */

.TaskListContainer.Completed .TitleContainer .Title {
  color: #74878a;
}

/* TodayTab */

.TaskListContainer.TodayTab .TitleContainer .Title {
  color: #148dff;
}

/* Uncompleted */

.TaskListContainer.Uncompleted .TitleContainer .Title {
  color: #ff3232;
}


.TaskListContainer .TaskList {
  height: calc(100% - 14rem); /* .TaskListContainer .TitleContainer (paddings 2rem) + (height 12rem) */
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #9a9a9a #565656;
  overflow-x: hidden;
}

.TaskListContainer .TaskList .Header {
  display: flex;
  justify-content: space-between;
  min-height: 4.4rem;
  margin-left: 1rem;
  border-bottom: 1px solid #525252;
}

.TaskListContainer .TaskList .Header p {
  display: flex;
  align-items: center;
  color: #9a9a9a;
  font-weight: 500;
  font-size: 1.5rem;
}

.TaskListContainer .TaskList .Header .ButtonsContainer {
  display: flex;
  align-items: center;
}

.TaskListContainer .TaskList .Header .ButtonsContainer .MuiButtonBase-root {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

/* AllTab */

.TaskListContainer.AllTab .TaskList .Header .ButtonsContainer .MuiButtonBase-root {
  color: #676767;
}

/* Completed */

.TaskListContainer.Completed .TaskList .Header .ButtonsContainer .MuiButtonBase-root {
  color: #74878a;
}

/* TodayTab */

.TaskListContainer.TodayTab .TaskList .Header .ButtonsContainer .MuiButtonBase-root {
  color: #148dff;
}

/* Uncompleted */

.TaskListContainer.Uncompleted .TaskList .Header .ButtonsContainer .MuiButtonBase-root {
  color: #ff3232;
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 600px) {
  .TaskListContainer {
    min-width: 100svw;
    height: 100svh;
    box-sizing: border-box;
    scrollbar-color: #9a9a9a #565656;
  }
}

@media screen and (max-width: 380px) {

}
